:host {
    --page-margin: var(--app-broad-margin);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.page-content {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
}

:host {
    --page-margin: var(--app-broad-margin);
}

.clips-wrapper {
    margin-bottom: var(--page-margin);
    position: relative;
    .clips-header {
        position: relative;
        h3.story-title {
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            font-size: 1.1rem;
            @media (min-width: 575px) {
                font-size: 1.8rem;
            }
            padding: 5px;
            bottom: 0;
            margin-bottom: 0;
            color: white;
            width: 100%;
        }
    }
}