<ion-content>
    <div class="story-body-section">
        <h3>Take Action Now</h3>
        <p>You can help by taking one or more of the actions below</p>
        <ion-list>
            <ion-item *ngFor="let action of story.actions">
                <ion-label class="story-label">
                    <a href="{{action.url}}" target="{{action.target}}">{{action.text}}</a>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div class="button-main">
        <share-buttons [theme]=" 'modern-dark'" [include]="['facebook', 'twitter', 'reddit','pinterest','email','sms']" [size]="6" [show]="6" [showText]="false" [url]="currentUrl" [autoSetMeta]="true"></share-buttons>
    </div>
</ion-content>
<ion-footer>
</ion-footer>