<ion-content class="model-start">
  <div class="button-main">
      <ion-button color="danger" (click)="replyButton()">
          <ion-icon size="large" ion-button name="refresh-circle-outline"></ion-icon>
      </ion-button>
  </div>
  <div class="story-body-section">
      <h6>Take Action To Support This Story</h6>
      <p>{{ story.actionSummary }}</p>
      <ion-list>
          <ion-item *ngFor="let action of story.actions">
              <ion-label class="story-label"  [innerHtml]="action"></ion-label>
          </ion-item>
      </ion-list>
  </div>
  <div class="button-main">
      <share-buttons [theme]="'modern-dark'" [include]="['facebook','twitter','linkedin']" [size]="4" [show]="3"
          [showText]="true" [url]="currentUrl" [autoSetMeta]="false"></share-buttons>
  </div>
</ion-content>
<ion-footer>

</ion-footer>