<ion-content>

    <div class="story-body-section">
        <h6>{{ story.actionTitle }}</h6>
        <p>{{ story.actionSummary }}</p>
        <ion-list>
            <ion-item *ngFor="let action of story.actions">
                <ion-label class="story-label">
                    <a href="{{action.url}}" target="{{action.target}}">{{action.text}}</a>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div class="button-main">
        <share-buttons [theme]="'modern-dark'" [include]="['facebook','twitter','pinterest', 'email']" [size]="4" [show]="4" [showText]="true" [url]="currentUrl" [autoSetMeta]="false"></share-buttons>
    </div>
    <div class="button-main">
        <ion-button color="danger" (click)="replyButton()">
            <ion-icon size="large" ion-button name="refresh-circle-outline"></ion-icon>
        </ion-button>
    </div>
</ion-content>
<ion-footer>

</ion-footer>