<ion-header>

  <ion-toolbar>

    <ion-title>Add Item</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/data"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row>
    <ion-card>
      <form [formGroup]="dataForm" (submit)="createItem()">
        <ion-list>

          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input formControlName="title" required type="text" placeholder="Enter Title"
              [class.invalid]="!dataForm.controls['title'].valid && dataForm.controls['title'].touched">
            </ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!dataForm.controls['title'].valid
          && dataForm.controls['title'].touched">
            <ion-label>Please enter your title</ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Message</ion-label>
            <ion-textarea formControlName="message" rows="6" required type="text" placeholder="Enter your message">
            </ion-textarea>
          </ion-item>
          <ion-item class="error-message" *ngIf="!dataForm.controls['message'].valid
          && dataForm.controls['message'].touched">
            <ion-label>Please enter your message</ion-label>
          </ion-item>

          <ion-item text-center>
            <ion-button text-capitalize type="submit" [disabled]="!dataForm.valid">
              Submit
            </ion-button>
          </ion-item>
        </ion-list>
      </form>
    </ion-card>

    <ion-card padding>
      <div>
        <p>Note :</p>
        <p>Form validation </p>
        <p>Reactive Form </p>

      </div>
    </ion-card>
  </ion-row>
</ion-content>