// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: 0;
  }
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.onbording-content {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);

  .swiper-container {
      --bullet-background: black;
      --bullet-background-active: var(--ion-color-secondary);
      width: 100%;
      height: 100vh;
      
      .swiper-slide {
        flex-direction: column;
        justify-content: flex-start;
        font-size: 16px;
        h1 {
            color: var(--ion-color-secondary);
            margin: 1.5rem 1rem;
            font-size: 1.5rem;
        }
        p {
          line-height: 1.5;
        }
      }
      .slide1-wrapper{
        .header {
          width: 100%;
          background-color: var(--ion-color-secondary);
          img {
            max-height: 100%;
          }
        }
        .content-container {
          flex-grow: 1;
          width: 100%;

          .content {
            background: url(/assets/images/onboarding-slide1.png) no-repeat top center;
            background-size: contain;
            height: 100%;
            p {
              position: absolute;
              bottom: 0;
              text-align: center;
              background-color: rgba(#6B0046, 0.6);
              padding: 1rem 2rem 5rem;
              margin: 0;
              color: white;
            }    
          }
        }
      }
      .slide2-wrapper{
        background: url(/assets/images/onboarding-slide2.png) no-repeat top center;
        background-size: cover;
        height: 100%;
        // position: relative;
        .slide-caption {
          position: absolute;
          bottom: 4.5rem;
          h1 {
            color: white;
            margin: 0 1rem 2rem;
          }
          p {
            color: white;
            margin: 1rem
          }
        }
      }
    }
  }
  
  