<ion-content class="onbording-content">
  <ion-slides pager="true" [options]="onbordingOpts" #onbordingSlider (ionSlideTouchEnd)="slideChange(onbordingSlider)">
    <ion-slide class="slide1-wrapper">
      <div class="image">
          <img src="/assets/images/onbording-slide1.png" alt="Halo Tales">
      </div>
      <h1>From Film To Movement</h1>
      <p>In 2003, <strong>THE CORPORATION film</strong> rallied people against the dangerously expanding power of corporations. 
      <strong>Now the sequel is coming.</strong> And so is the next wave of resistance.</p>
    </ion-slide>
    <ion-slide class="slide2-wrapper">
      <div class="slide-caption">
        <h1>We Can't Change The World By Ourselves</h1>
        <p><strong>HALO TALES</strong> shares the voices of people who are finding ways to fight back. A place to reimagine democracy and take action together. <strong>To rein in corporate power for good.</strong></p>
        <ion-button (click)="onClickContinue()" class="content-btn" >
          Continue to Halo Tales 
        </ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
