<!--<div>
    <ion-col>
        <div class="social-buttons">
            <a (click)="linkToSocialProfile(provider.facebook) ">
                <img src="/assets/images/mobile-facebook.svg ">
            </a>
            <a (click)="linkToSocialProfile(provider.twitter) ">
                <img src="/assets/images/mobile-twitter.svg ">
            </a>
            <a (click)="linkToSocialProfile(provider.youtube) ">
                <img src="/assets/images/mobile-youtube.svg ">
            </a>
            <a (click)="linkToSocialProfile(provider.vimeo) ">
                <img src="/assets/images/mobile-vimeo.svg ">
            </a>
        </div>
    </ion-col>
</div>-->




<ion-footer *ngIf="isDesktop">
    <ion-toolbar>
        <ion-title>&copy; {{ copyrightYear }} Grant Street Productions | App by <a href="https://Cool.world">Cool.world</a> | App by <a href="https://TheNewCorporation.movie">TheNewCorporation.movie</a></ion-title>
    </ion-toolbar>
</ion-footer>