// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-broad-margin);
  }
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
  .verification-content {
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  
    form {
      padding-bottom: var(--page-margin);
  
      .inputs-list {
        margin-bottom: calc(var(--page-margin) / 2);
  
        .input-item {
          --padding-start: 0px;
          --padding-end: 0px;
          --inner-padding-end: 0px;
        }
  
        .error-container {
          .error-message {
            margin: calc(var(--page-margin) / 2) 0px;
            display: flex;
            align-items: center;
            color: var(--ion-color-danger);
            font-size: 14px;
  
            ion-icon {
              padding-inline-end: calc(var(--page-margin) / 2);
            }
          }
        }
      }
     
    }
  
  
    .options-divider {
      margin: var(--page-margin) 0 calc(var(--page-margin) / 2) 0;
      color: var(--ion-color-medium);
      text-align: center;
      font-weight: 500;
    }
  
  }
  