<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      You’ve Pledged Action
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-content">
  <p class="modal-text">
    That's great! Help build momentum around this tale and share it.
  </p>

  <div class="share-buttons">
    <ion-button class="social-sharing-btn" color="facebook" size="large">
      <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Share
    </ion-button>
    <ion-button class="social-sharing-btn" color="twitter" size="large">
      <ion-icon slot="start" name="logo-twitter"></ion-icon>
      Tweet
    </ion-button>
  </div>
</ion-content>
