.header-logo {
  max-height: 38px;
  padding-top: 2px;
}

.user-avatar {
  width: 24px;
  height: 24px;
}

.header-navi-join {
  font-weight: 350;
  text-align: right;
  color: black;
}

.headerTitle {
  font-weight: 600;
  text-align: center;
  size: 17px;
  color: #030303;
  letter-spacing: -0.5;
}

