        .header-desktop {}
        
        .header-logo {
            padding-top: 1vw;
            padding-left: 1vw;
            max-width: 30px;
        }
        
        .header-navi-join {
            font-weight: 350;
            text-align: right;
            color: #ffffff;
        }
        
        .header-title {
            font-weight: 600;
            text-align: center;
            size: 20vw;
            color: #030303;
            letter-spacing: -0.5;
        }
        
        .header-hamburger {}
        
        .header-title {
            font-weight: 600;
            text-align: center;
            size: 20vw;
            color: #030303;
            letter-spacing: -0.5;
        }
        
        .header-navi-join {
            font-weight: 350;
            text-align: right;
            color: black;
        }