.devi-menu {
    img {
        padding-top: 1vw;
        padding-left: 1vw;
    }
}

user-avatar {
    width: 24px;
    height: 24px;
}

.header-navi-join {
    font-weight: 350;
    text-align: right;
    color: black;
}

.headerTitle {
    font-weight: 600;
    text-align: center;
    size: 20vw;
    color: #030303;
    letter-spacing: -0.5;
}