<ion-header *ngIf="!isDesktop">
    <ion-toolbar>
        <ion-buttons slot="start" class="header-hamburger">
            <ion-menu-toggle>
                <ion-icon name="menu-outline"></ion-icon>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title routerLink="/" align="center" class="header-title ion-no-padding">
            The New Corporation
        </ion-title>
        <ion-buttons class="ion-no-padding" slot="end">
            <ion-button class="ion-no-padding" *ngIf="showJoin" (click)="goto('/join')">
                <ion-label slot="start" class="header-navi-join">Join Us</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-header *ngIf="isDesktop" class="header-desktop">
    <ion-toolbar>
        <ion-row class="ion-align-items-center">
            <ion-col size="2">
                <img src="/assets/new/logo-header.svg" class="header-logo ion-text-left">
            </ion-col>
            <ion-col size="8">
                <div class="navbar" class="ion-text-center">
                    <ion-button fill="clear" (click)="goto('/')" routerLink="/" routerDirection="root" routerLinkActive="active-link" class="link">
                        Home
                    </ion-button>
                    <ion-button fill="clear" (click)="goto('/stories')" routerLink="/stories" routerDirection="root" routerLinkActive="active-link" class="link">
                        Stories
                    </ion-button>
                    <ion-button fill="clear" (click)="goto('/about')" routerLink="/about" routerDirection="root" routerLinkActive="active-link" class="link">
                        About
                    </ion-button>
                    <ion-button fill="clear" (click)="goto('/contact')" routerLink="/contact" routerDirection="root" routerLinkActive="active-link" class="link">
                        Contact
                    </ion-button>
                </div>
            </ion-col>
            <ion-col size="2">
                <ion-button (click)="join()" expand="block" class="content-btn">
                    Join us
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>