<ion-header class="hidden-lg">
    <ion-toolbar>
        <ion-buttons slot="start" class="devi-menu">
            <ion-menu-toggle>
                <img src="../../../assets/images/mobile-menu-devi-icon.svg">
            </ion-menu-toggle>
        </ion-buttons>

        <ion-title routerLink="/" align="center" class="headerTitle ion-no-padding">
            The New Corporation
        </ion-title>

        <ion-buttons class="ion-no-padding" slot="end">
            <ion-button class="ion-no-padding" *ngIf="showJoin" (click)="goto('/join')">
                <ion-label slot="start" class="header-navi-join">Join Us</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>