<ion-header *ngIf="!isDesktop">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-title (click)="goto('/')">
            The New Corporation
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goto('/join')">
                <ion-icon slot="icon-only" name="at-circle-sharp"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header *ngIf="isDesktop">
    <ion-toolbar>
        <ion-row class="ion-align-items-center">
            <ion-col size="2">
                <a (click)="goto('/')"><img src="assets/icons/icon-512x512.png" class="header-logo ion-text-left"></a>
            </ion-col>
            <ion-col size="8">
                <div class="navbar" class="ion-text-center">
                    <ion-button fill="clear" (click)="goto('/')" routerLink="/" routerDirection="root" routerLinkActive="active-link" class="link">
                        Home
                    </ion-button>
                    <ion-button fill="clear" (click)="goto('/stories')" routerLink="/stories" routerDirection="root" routerLinkActive="active-link" class="link">
                        Stories
                    </ion-button>
                    <ion-button fill="clear" (click)="goto('/clips')" routerLink="/clips" routerDirection="root" routerLinkActive="active-link" class="link">
                        Clips
                    </ion-button>
                    <ion-button fill="clear" (click)="goto('/about')" routerLink="/about" routerDirection="root" routerLinkActive="active-link" class="link">
                        About
                    </ion-button>
                    <ion-button *ngIf="showJoinButton" fill="clear" (click)="goto('/join')" routerLink="/join" routerDirection="root" routerLinkActive="active-link" class="link">
                        Join us
                    </ion-button>
                </div>
            </ion-col>
            <ion-col size="2">
                <img src="/assets/images/logos.png" class="responsive ion-text-right">
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>