<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button fill="clear"
      size="small"
      color="medium"
      (click)="closeModal()">
      <ion-icon mode="md"
        src="assets/icons/x.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content scrollX="false"
  scrollY="false">
  <div class="content-wrapper">
    <div class="header no-border has-toolbar">
      <div class="title">
        {{'change-password-component.title' | translate}}
      </div>
    </div>

    <div class="wrapper">
      <div class="content-scroll">

        <!-- old password -->
        <div class="form-label">{{ 'change-password-component.old-password-label' | translate }}</div>
        <form-field fill="true"
          color="medium">
          <ion-icon prefix
            src="assets/icons/unlock.svg"></ion-icon>
          <ion-input inputRef
            type="password"
            [(ngModel)]="model.oldPassword"
            #opassword="ngModel"
            required></ion-input>

          <div errors
            *ngIf="opassword.touched && opassword.invalid">
            <span *ngIf="opassword?.errors?.required">{{
                  'form-validation-messages.required' | translate
                }}</span>
          </div>
        </form-field>

        <!-- new password -->
        <div class="form-label">{{ 'change-password-component.new-password-label' | translate }}</div>
        <form-field fill="true"
          color="medium">
          <ion-icon prefix
            src="assets/icons/lock.svg"></ion-icon>
          <ion-input inputRef
            type="password"
            [(ngModel)]="model.password"
            #password="ngModel"
            (secure)="passwordStrength = $event"
            required></ion-input>
          <small class="pass-strength"
            suffix
            [ngStyle]="{ background: 'var(--ion-color-' + passwordStrength + ')' }"></small>
          <div errors
            *ngIf="password.touched && password.invalid">
            <span *ngIf="password?.errors?.required">{{
                'form-validation-messages.required' | translate
              }}</span>
            <span *ngIf="password?.errors?.secure">{{
                'form-validation-messages.password-no-secure' | translate
              }}</span>
          </div>
        </form-field>

        <!-- retype password -->
        <div class="form-label">{{ 'change-password-component.retype-password-label' | translate }}</div>
        <form-field fill="true"
          color="medium">
          <ion-icon prefix
            src="assets/icons/key.svg"></ion-icon>
          <ion-input inputRef
            type="password"
            [(ngModel)]="model.rpassword"
            [compare-password]="password"
            #rpassword="ngModel"
            required></ion-input>

          <div errors
            *ngIf="rpassword.touched && rpassword.invalid">
            <span *ngIf="rpassword?.errors?.required">{{
                'form-validation-messages.required' | translate
              }}</span>
            <span *ngIf="rpassword?.errors?.compareTo">{{
                'form-validation-messages.password-no-match' | translate
              }}</span>
          </div>
        </form-field>

        <ion-button expand="full"
          shape="round"
          [btnStatus]="loading"
          (click)="changePassword()">
          {{ 'change-password-component.change-password' | translate }}
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>