<ht-header></ht-header>

<ion-content class="reset-password-content">
  <h2>Password Reset</h2>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <ion-list class="inputs-list" lines="full">
          <ion-item class="input-item">
              <ion-label position="floating">Password</ion-label>
              <app-show-hide-password>
                <ion-input type="password" formControlName="password"></ion-input>
              </app-show-hide-password>
            </ion-item>
            <div *ngIf="f.password.errors" class="error-container">
              <div class="error-message" *ngIf="f.password.errors.required && f.password.touched">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>Password is required.</span>
              </div>
              <div class="error-message" *ngIf="f.password.errors.minlength  && f.password.touched">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>Password must be at least 5 characters long.</span>
              </div>
            </div>
    
            <ion-item class="input-item">
                <ion-label position="floating">Confirm Password</ion-label>
                <app-show-hide-password>
                  <ion-input type="password" formControlName="confirmPassword"></ion-input>
                </app-show-hide-password>
              </ion-item>
              <div *ngIf="f.confirmPassword.errors" class="error-container">
                  <div class="error-message" *ngIf="f.confirmPassword.errors.required && f.confirmPassword.touched">
                      <ion-icon name="information-circle-outline"></ion-icon>
                      <span>Confirm Password is required.</span>
                    </div>
                      <div class="error-message" *ngIf="f.confirmPassword.errors.mustMatch && f.confirmPassword.touched">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <span>Password mismatch</span>
                </div>
              </div>
        
      </ion-list>
    
      <ion-button class="system-btn" type="submit" expand="block" [disabled]="resetPasswordForm.invalid">Reset
        Password</ion-button>
    </form>
</ion-content>