<app-header></app-header>
<ion-content class="hasHeader page-content">

    <div class="story-details">
        <h1>{{ story.title }}</h1>
        <div class="story-details-content">
            <div style="position:relative;height:0;padding-bottom:56.25%">
                <iframe #iframe [src]="prepareVideoUrl(story.id) | safe: 'resourceUrl'" class='sproutvideo-player' type='text/html' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen>
                </iframe>
            </div>
            <p>{{ story.summary }}</p>
            <div class="story-body-section">
                <h3>Take Action To Support This Story</h3>
                <p>{{ story.actionSummary }}</p>
                <ul>
                    <li *ngFor="let action of story.actions" [innerHtml]="action"></li>
                </ul>

            </div>

            <!-- SOCIAL SHARES HERE -->
            <share-buttons [theme]="'modern-dark'" [include]="['facebook','twitter','linkedin']" [size]="4" [show]="3"
                [showText]="true" [url]="currentUrl" [autoSetMeta]="false"></share-buttons>
        </div>
    </div>
</ion-content>
<app-footer></app-footer>