<app-header></app-header>
<ion-content class="hasHeader page-content">

    <div class="story-details">
        <h1>{{ story.title }}</h1>
        <div class="story-details-content">
            <div style="position:relative;height:0;padding-bottom:56.25%">
                <iframe (load)="loadSlugDataPromise()" #iframe [src]="prepareVideoUrl(story.id) | safe: 'resourceUrl'" class='sproutvideo-player' type='text/html' style='position:absolute;width:100%;height:100%;left:0;top:0' frameborder='0' allowfullscreen>
                </iframe>
            </div>
            <div class="story-body-section">
                <h3>{{ story.blurb }}</h3>
                <p>{{ story.summary }}</p>
                <h2 class="no-gutter">The New Corporation: The Unfortunately Necessary Sequel is COMING SOON TO A THEATRE NEAR YOU!</h2>

                <ion-list class="no-gutter">
                    <ion-item *ngFor=" let action of story.actions ">
                        <ion-label>
                            <a href="{{action.url}} " target="{{action.target}} ">{{action.text}}</a>
                        </ion-label>
                    </ion-item>
                </ion-list>
            </div>
            <share-buttons [theme]=" 'modern-dark' " [include]="[ 'facebook', 'twitter', 'reddit','pinterest'] " [size]="4 " [show]="4 " [showText]="false " [url]="currentUrl " [autoSetMeta]="true"></share-buttons>
        </div>
    </div>
</ion-content>
<app-footer></app-footer>