<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title text-left><a href="/">Halo tales</a></ion-title>
    <ion-buttons slot="end">
      <ion-button href="/story/add">
        <ion-icon slot="icon-only" color="lightest" name="videocam"></ion-icon>
      </ion-button>
      <ion-button href="/notifications">
        <ion-icon color="lightest" name="notifications"></ion-icon>
        <ion-badge color="primary">42</ion-badge>
      </ion-button>
      <ion-button *ngIf="!currentUser" href="/login">
        <ion-icon slot="icon-only" color="lightest" name="log-in"></ion-icon>
      </ion-button>
      <ion-button *ngIf="currentUser" href="/user">
        <ion-avatar class="user-avatar" *ngIf="currentUser.imageUrl !== ''" >
          <ion-img src="{{ currentUser.imageUrl }}" alt="{{ currentUser.displayName }}"></ion-img>
        </ion-avatar>
        <ion-icon *ngIf="currentUser.imageUrl === ''" color="lightest" name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
