<ht-header></ht-header>

<ion-content class="user-profile-content">
    <ht-header-desktop></ht-header-desktop>
    
    <h2>{{ profile.displayName }}</h2>
    <ion-avatar>
        <ion-img [src]="profile.imageUrl" class="user-image-wrapper"></ion-img>
    </ion-avatar>

    <div class="profile-data-wrapper">
        <!-- Default Segment -->
        <ion-segment [(ngModel)]="profileData" mode="ios" value="testimonial">
            <ion-segment-button value="testimonial">
                <ion-icon name="quote"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="pledges">
                <ion-icon name="trophy"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="tales">
                <ion-icon name="videocam"></ion-icon>
            </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="profileData" class="profile-data">
            <div *ngSwitchCase="'testimonial'" class="testimonial">
                {{ profile.testimonial }}
            </div>
            <div *ngSwitchCase="'pledges'">
                pledges
            </div>
            <div *ngSwitchCase="'tales'">
                tales
            </div>
        </div>
    </div>
</ion-content>