<ion-grid>
    <ion-row>
        <ion-col size="6" *ngFor="let story of stories">
            <div class="story-wrapper">
                <a href="story/{{ story.slug }}">
                    <div class="story-header">
                        <ion-img [src]="story.image"></ion-img>
                        <h3 class="story-title">{{ story.title }}</h3>
                    </div>
                </a>
                <ion-item class="story-meta" lines="none">
                    <ion-avatar slot="start">
                        <img [src]="story.authorImg" />
                    </ion-avatar>
                    <ion-label>
                        <div class="authoring-info">{{ story.authorName }} &bull; {{ story.updatedAt }}</div>
                    </ion-label>
                </ion-item>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>