:host {
    --page-margin: var(--app-broad-margin);
}

.story-wrapper {
    margin-bottom: var(--page-margin);
    position: relative;
    .story-header {
        position: relative;
        h3.story-title {
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            bottom: 0;
            margin-bottom: 0;
            color: white;
            font-size: 2rem;
            padding: 0.75rem 1rem;
            width: 100%;
        }
    }
    .story-action-summary {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
        min-height: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid var(--ion-color-medium);
        .avocadometer {
            border-left: 2px solid var(--ion-color-medium);
        }
        .summary-box {
            position: relative;
            flex-shrink: 2;
            display: flex;
            flex-direction: row;
            width: 50vw;
            height: auto;
            margin: 0;
            padding-left: 2%;
            padding-top: 1%;
            .summary-icon {
                position: relative;
                flex-basis: 30%;
                flex-shrink: 2;
                height: 100%;
            }
            .header {
                position: relative;
                display: flex;
                flex-shrink: 2;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--ion-color-dark);
                margin: 1vh 2vw 1vh 1vw;
                white-space: nowrap;
                --padding: 0;
                --inner-border-width: 0;
                ion-label {
                    font-weight: 400;
                    color: var(--ion-color-tertiary);
                    font-size: 1.25vw;
                    margin: 0;
                }
                a {
                    color: var(--ion-color-dark);
                    padding: 0;
                    text-transform: inherit;
                    font-size: 1.25vw;
                    position: relative;
                    bottom: 1px;
                }
            }
        }
    }
}

.summary {
    height: 20%;
    padding: 0rem 1rem 0rem;
    p {
        color: black;
        font-size: 1em;
        font-weight: 400;
    }
}

.story-meta {
    padding: 0rem 1rem 0rem;
    .authoring-info {
        font-size: 1rem;
        padding-bottom: 0.25rem;
    }
}