:host {
    h3 {
        color: var(--ion-color-secondary);
        padding: 0;
        margin: 0.2em 0 0.2em 0;
    }
    p {
        padding: 0;
        margin: 0 0 1em 0;
    }
    --page-margin: var(--app-broad-margin);
}