<ht-header></ht-header>

<ion-content class="signup-content">
    <ht-header-desktop></ht-header-desktop>
    
    <h2>Join us</h2>
    <p>
        Welcome to HaloTales. Sign up with your social media account or create an account below. You'll get a chance to review and customize your profile in the next step.
    </p>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input type="email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
            </ion-item>
            <div *ngIf="f.email.errors" class="error-container">
                <div class="error-message" *ngIf="f.email.errors.required && f.email.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Email is required.</span>
                </div>
                <div class="error-message" *ngIf="f.email.errors.email && f.email.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Enter a valid email.</span>
                </div>
            </div>

            <ion-item class="input-item">
                <ion-label position="floating">Create your Password</ion-label>
                <app-show-hide-password>
                    <ion-input type="password" formControlName="password"></ion-input>
                </app-show-hide-password>
            </ion-item>
            <div *ngIf="f.password.errors" class="error-container">
                <div class="error-message" *ngIf="f.password.errors.required && f.password.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Password is required.</span>
                </div>
                <div class="error-message" *ngIf="f.password.errors.minlength  && f.password.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Password must be at least 5 characters long.</span>
                </div>
            </div>
        </ion-list>

        <ion-button class="system-btn" type="submit" expand="block" [disabled]="signupForm.invalid">Get Started</ion-button>
    </form>

    <p class="options-divider">Or, sign up with:</p>
    <div class="social-auth-options">
        <ion-button class="social-auth-btn facebook-auth-btn" size="small" color="facebook" (click)="clickProvider('facebook')">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            Facebook
        </ion-button>
        <ion-button class="social-auth-btn google-auth-btn" size="small" color="google" (click)="clickProvider('google')">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Google
        </ion-button>
        <ion-button class="social-auth-btn twitter-auth-btn" size="small" color="twitter" (click)="clickProvider('twitter')">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            Twitter
        </ion-button>
    </div>

    <p class="options-divider">Already have an account? <a class="legal-action" [routerLink]="['/login']">Log In</a></p>

    <div class="legal-stuff">
        By creating an account you agree to our
        <a class="legal-action" (click)="showPrivacyModal()">Privacy Policy</a> and
        <a class="legal-action" (click)="showTermsModal()">Terms of use</a>.
    </div>
</ion-content>