<ht-header></ht-header>

<ion-content class="forgot-password-content">
    <ht-header-desktop></ht-header-desktop>
    
    <h2>Password Reset</h2>
    <p>
        Please enter your email address and we'll send you an email to reset your password.
    </p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input type="email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
            </ion-item>
            <div *ngIf="f.email.errors" class="error-container">
                <div class="error-message" *ngIf="f.email.errors.required && f.email.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Email is required.</span>
                </div>
                <div class="error-message" *ngIf="f.email.errors.email && f.email.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Enter a valid email.</span>
                </div>
            </div>

        </ion-list>

        <ion-button class="system-btn" type="submit" expand="block" [disabled]="forgotPasswordForm.invalid">Reset Password
        </ion-button>
    </form>

    <p>
        <a [routerLink]="['/reset-password']">Click here</a> to test the link that gets sent to the user's email
    </p>

</ion-content>