<ion-header>
  <ion-toolbar>
    <ion-title>Edit Item</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/data"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row>
    <ion-card>
      <form [formGroup]="dataForm" (submit)="updateItem()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Title</ion-label>
            <ion-input formControlName="title" required type="text" placeholder="Enter Title"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Message</ion-label>
            <ion-textarea formControlName="message" rows="6" required type="text" placeholder="Enter your message"></ion-textarea>
          </ion-item>
          <div text-center>
            <ion-button text-capitalize type="submit" size="small">
              Update Item
            </ion-button>
          </div>
        </ion-list>
      </form>
      <div text-center padding>
        <ion-button (click)="confirmToDelete()" text-capitalize size="small" >
          Delete Item
        </ion-button>
      </div>
    </ion-card>
    <ion-card padding>
      <div padding>
        Note :
      </div>
    </ion-card>
  </ion-row>
</ion-content>