<ion-tabs>

  <ion-tab-bar slot="bottom" >

    <ion-tab-button tab="home" >
      <ion-icon name="home" ></ion-icon>
      <ion-label >Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="data" >
        <ion-icon name="list" ></ion-icon>
        <ion-label >Data</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="scan" >
      <ion-icon name="qr-scanner" ></ion-icon>
      <ion-label >Scan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="http" >
      <ion-icon  name="list-box" ></ion-icon>
      <ion-label >Http</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" >
      <ion-icon  name="contact" ></ion-icon>
      <ion-label >Map</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>