<app-header></app-header>
<ion-content class="hasHeader page-content">

    <h1>Join Us</h1>
    <h2>Be the first to know about news and special offers!</h2>

    <p>This list is managed by Cool.World, the grassroots campaigners behind The Corporation and The New Corporation films. We will send you information about the film, app stories, related campaigns, and calls to action. We respect your privacy and will
        never sell or misuse your data. You can unsubscribe at any time.</p>
    <iframe [src]="url | safe: 'resourceUrl'" id="IFrame" width="100%" height="1000" scrolling="no " style="border:0; "></iframe>
    <script type="text/javascript">
        console.log('Hello : iFrameResize');
        iFrameResize({
            inPageLinks: true,
            checkOrigin: false,
            log: true
        });
    </script>

</ion-content>
<app-footer></app-footer>