<app-header></app-header>
<ion-content class="hasHeader page-content">

    <h1>Join Us</h1>
    <h2>The New Corporation: The Unfortunately Necessary Sequel is COMING SOON TO A THEATRE NEAR YOU!</h2>
    <p>Sign up to the mail list for The New Corporation film. We will keep you informed about news about the film and related projects.</p>
    <p>This list is maintained by Cool.world, the grassroots campaigners for the films. We respect your privacy and will never sell or misuse your data. You can unsubscribe at any time.</p>
    <iframe [src]="url | safe: 'resourceUrl'" id="IFrame" width="100%" height="1000" scrolling="no " style="border:0; ">
        </iframe>
    <script type="text/javascript">
        console.log('Hello : iFrameResize');
        iFrameResize({
            inPageLinks: true,
            checkOrigin: false,
            log: true
        });
    </script>

</ion-content>
<app-footer></app-footer>