<app-header></app-header>
<ion-content class="hasHeader page-content">
    <h1>Join Us</h1>

    <iframe src="https://forms.coolworld.cloud/?tenant=TheNewCorporation&campaign=App&type=Join" width="100%" height="1000" scrolling="no " style="border:0; "></iframe>
    <script type="text/javascript">
        console.log('Helloy');
        iFrameResize({
            inPageLinks: true,
            checkOrigin: false,
            log: true
        });
    </script>

</ion-content>
<app-footer></app-footer>