<app-header></app-header>

<ion-content class="hasHeader page-content">

    <h1>We Can’t Change The World By Ourselves!</h1>
    <h2>THE NEW CORPORATION IS COMING!</h2>

    <p>Over a decade ago The Corporation film likened the dominant institution of our time to a psychopath. Now get ready for the unfortunately necessary sequel. Our vision with the first film (The Corporation 2004), was to analyze the problem, to make corporate
        &quot;business as usual&quot; suspect. To pull the rug out from under the capitalist narrative. And we did that. We also know that it sparked many, many people to want to make change. As the years went by it became clear that the sequel was unfortunately
        necessary.
    </p>

    <p>And it became even more apparent that we also needed a platform to share the voices, and to make room for new ones so that we can organize with organizers, reimagine democracy, and take collective action. This platform is an invitation for all to
        share in this work. In the coming weeks and months, we will be sharing stories about those affected by the issues both films tackle - corporate power, grassroots organizing and challenges to democracy. Each story will be its own call to action,
        and we hope you will join us in solidarity with the many individuals and organizations standing up to business as usual.</p>

    <ion-button class="page-btn" size="large" href="https://thenewcorporation.movie">Visit TheNewCorporation.movie</ion-button>
</ion-content>
<app-footer></app-footer>