<app-header></app-header>

<ion-content class="hasHeader page-content">

    <h1>About the Film</h1>

    <h2>We Can’t Change The World By Ourselves!</h2>
    <p>Our vision with the first film (The Corporation), was to analyze the problem, to make corporate ‘business as usual’ suspect. To pull the rug out from under the capitalist narrative. And we did that. We also know that it sparked many, many people to
        want to make change.</p>
    <p>As the years went by, we knew we needed a sequel (The New Corporation), but it became even more apparent that we also needed a platform to share the voices, and to make room for new ones so that we can organize with organizers, reimagine democracy,
        and take collective action. This platform is an invitation for all to share in this work.</p>
    <ion-button class="page-btn" size="large" href="https://thenewcorporation.movie">Visit TheNewCorporation.movie</ion-button>
</ion-content>