<app-header></app-header>

<ion-content class="hasHeader page-content">

    <h1>Let’s change the world together!</h1>
    <h2>The New Corporation: The Unfortunately Necessary Sequel is COMING SOON TO A THEATRE NEAR YOU!</h2>

    <p>Over a decade ago The Corporation film likened the dominant institution of our time to a psychopath. Now get ready for the unfortunately necessary sequel. Our vision with the first film (The Corporation 2003), was to analyze the problem, to make corporate
        &quot;business as usual&quot; suspect. To pull the rug out from under the capitalist narrative. And we did that. We also know that it sparked many, many people to want to make change. As the years went by it became clear that the sequel was unfortunately
        necessary.
    </p>

    <p>And it became even more apparent that we also needed a platform to share the voices, and to make room for new ones so that we can organize with organizers, reimagine democracy, and take collective action. This platform is an invitation for all to
        share in this work. In the coming weeks and months, we will be sharing stories about those affected by the issues both films tackle - corporate power, grassroots organizing and challenges to democracy. Each story will be its own call to action,
        and we hope you will join us in solidarity with the many individuals and organizations standing up to business as usual.</p>

    <div class="billing-block">TELEFILM CANADA <span style="font-size: .65em;">and the </span>ROGERS GROUP OF FUNDS <span style="font-size: .65em;">through the theatrical documentary program present</span>
        <span style="font-size: .65em;">In association with</span> CRAVE, <span style="font-size: .65em;">a division of Bell Media</span>
        <span style="font-size: .65em;">a</span> GRANT STREET <span style="font-size: .65em;">PRODUCTION IN ASSOCIATION WITH</span> SCREEN SIREN PICTURES
        <span style="font-size: .65em;">A FILM BY</span> JENNIFER ABBOTT <span style="font-size: .65em;">AND</span> JOEL BAKAN<span style="font-weight: normal;"> "THE NEW CORPORATION: THE UNFORTUNATELY NECESSARY SEQUEL"</span>
        <span style="font-size: .65em;">ORIGINAL MUSIC COMPOSED BY </span>MATT ROBERTSON <span style="font-size: .65em;">SOUND DESIGN </span>VELCROW RIPPER<span style="font-size: .65em;"> EDITOR</span> PETER ROECK <span style="font-size: .65em;">DIRECTOR OF PHOTOGRAPHY</span>        IAN KERR, <span style="font-size: .65em;">CSC</span>
        <span style="font-size: .65em;">EXECUTIVE PRODUCER</span> JOEL BAKAN <span style="font-size: .65em;">PRODUCED BY</span> BETSY CARSON <span style="font-size: .65em;">AND </span>TRISH DOLMAN <span style="font-size: .65em;">NARRATED BY </span>CHARLES
        OFFICER
        <span style="font-size: .65em;">WRITTEN BY</span> JOEL BAKAN<span style="font-size: .65em;"> BASED UPON HIS BOOK "THE NEW CORPORATION: HOW 'GOOD' CORPORATIONS ARE BAD FOR DEMOCRACY"</span>
        <span style="font-size: .65em;">Directed by</span> JOEL BAKAN <span style="font-size: .65em;">and</span> JENNIFER ABBOTT
        <br>
        <br>
        <ion-button class="page-btn align-center" href="https://thenewcorporation.movie">Visit TheNewCorporation.movie</ion-button>

        <br><br>
        <img src="/assets/images/grant-street-logo.png" class="logo-image" />

    </div>

</ion-content>
<app-footer></app-footer>