ion-title {
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-left: 60px;
}

ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.5rem;
  padding: 0.25rem;
  border-radius: 100%;
}

.page-title {
  background-color: var(--ion-color-light);
  padding: 0;
  margin-bottom: 1rem;
}
.page-title ion-col {
  padding: 0;
}
.page-title h2 {
  margin: 1rem 1rem;
}
.page-title ion-icon {
  margin: 1rem 0;
  font-size: 2rem;
}