ion-title {
    font-weight: 500;
    letter-spacing: 0.4px;
    padding-left: 60px;
    a {
        color: #fff;
        text-decoration: none;
    }
}

ion-badge {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.5rem;
    padding: 0.25rem;
    border-radius: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ion-header-font-family, inherit);
    font-weight: 900;
}

h2 {
    color: var(--ion-color-secondary);
    margin-top: 0.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

hr {
    border-top: 1px solid #cccccc;
}

ion-button {
    font-weight: 600;
    --border-radius: var(--app-fair-radius);
    &.content-btn {
        text-transform: uppercase;
        --background: var(--ion-color-tertiary);
        font-size: 0.75rem;
    }
    &.system-btn {
        text-transform: capitalize;
        margin: calc(var(--page-margin) / 2) 0px;
    }
}

// This style is for the onboarding
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 50px !important;
}

.text-muted {
    color: var(--ion-color-medium);
    margin: calc(var(--page-margin) / 2) 0px;
}

// .hidden, .hidden-sm {
//   display: none;
// }
// .hidden-lg {
//   @media (min-width: 820px) {
//     display: none;
//   }
// }
@media (max-width: 820px) {
    .hidden-s {
        display: none;
    }
}

// @media (min-width: 820px) {
//   .hidden-lg {
//     display: none;
//   }
// }
.hidden-lg {
    @media (min-width: 700px) {
        display: none !important;
    }
}

.hidden-sm {
    @media (max-width: 700px) {
        display: none !important;
    }
}