ion-title {
  font-weight: 500;
  letter-spacing: 0.4px;
  padding-left: 60px;
}

ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 0.5rem;
  padding: 0.25rem;
  border-radius: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: museo-sans, sans-serif;
  font-weight: 900;
}
h2 {
  color: var(--ion-color-secondary);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.page-title {
  background-color: var(--ion-color-light);
  padding: 0;
  margin-bottom: 1rem;
}
.page-title ion-col {
  padding: 0;
}
.page-title h2 {
  color: var(--ion-color-secondary);
  margin: 1rem;
  letter-spacing: 0.6px;
}

.page-title ion-icon {
  margin: 1rem 0;
  font-size: 2rem;
}

.ion-button {
  border-radius: var(--app-fair-radius);
}


.text-muted {
  color: var(--ion-color-medium);
  margin: calc(var(--page-margin) / 2) 0px;
}

