// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #ffffff; //#F8830E; 
    --ion-color-primary-rgb: 248, 131, 14;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #da730c;
    --ion-color-primary-tint: #f98f26;
    /** secondary **/
    --ion-color-secondary: #EE1F46; // IN USE
    --ion-color-secondary-rgb: 238, 31, 70;
    --ion-color-secondary-contrast: #ffffff; // NO USE
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #d11b3e;
    --ion-color-secondary-tint: #f03559;
    /** tertiary – PURPLE SCHEME **/
    --ion-color-tertiary: #691147; // mid purple – buttons etc.
    --ion-color-tertiary-rgb: 0, 175, 255;
    --ion-color-tertiary-contrast: #421f35; //dark purple - large blocks.
    --ion-color-tertiary-contrast-rgb: 66, 31, 53; //same as above
    --ion-color-tertiary-shade: #d1b8c7; //lightest purple tint
    --ion-color-tertiary-tint: #f9f9f9; //light grey for topnav, etc.
    /** success **/
    --ion-color-success: #20dc6a;
    --ion-color-success-rgb: 32, 220, 106;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #1cc25d;
    --ion-color-success-tint: #36e079;
    /** warning **/
    --ion-color-warning: #ffed11;
    --ion-color-warning-rgb: 255, 237, 17;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0d10f;
    --ion-color-warning-tint: #ffef29;
    /** danger **/
    --ion-color-danger: #f4344f; // IN USE
    --ion-color-danger-rgb: 244, 52, 79;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d72e46;
    --ion-color-danger-tint: #f54861;
    /** lightest **/
    --ion-color-lightest: #FFFFFF; //In use, obvi
    --ion-color-lightest-rgb: 255, 255, 255;
    /** light **/
    --ion-color-light: #f4f5f8; // in use
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-shade-rgb: 215, 216, 218;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-light-tint-rgb: 245, 246, 249;
    /** medium **/
    --ion-color-medium: #989aa2; // in use
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** dark **/
    --ion-color-dark: #222428; // in use
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-shade-rgb: 30, 32, 35;
    --ion-color-dark-tint: #383a3e;
    --ion-color-dark-tint-rgb: 56, 58, 62;
    /** darkest **/
    --ion-color-darkest: #000000; //in use
    --ion-color-darkest-rgb: 0, 0, 0;
    /** Toolbar **/
    --ion-toolbar-background: #f9f9f9;
    --ion-toolbar-color: #ffffff !important;
    //Define fonts for SF Pro
    @font-face {
        font-family: 'SF-Pro-Text-Light';
        src: url('../assets/fonts/SFProText/SF-Pro-Text-Light.ttf');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: 'SF-Pro-ext-Regular';
        font-style: normal;
        font-weight: 400;
        src: url('../assets/fonts/SFProText/SF-Pro-Text-Regular.ttf');
    }
    @font-face {
        font-family: 'SF-Pro-Text-Semibold';
        font-style: semi-bold;
        font-weight: 600;
        src: url('../assets/fonts/SFProText/SF-Pro-Text-Semibold.ttf');
    }
    @font-face {
        font-family: 'SF-Pro-Text-Bold';
        font-style: bold;
        font-weight: 700;
        src: url('../assets/fonts/SFProText/SF-Pro-Text-Bold.ttf');
    }
    // Set font family
    --ion-font-family: 'SF-Pro-Text-Regular'!important,
    'Roboto',
    sans-serif;
    --ion-header-font-family: SF-Pro-Text-Regular,
    Roboto,
    sans-serif;
    --app-background: #FFFFFF;
    --app-background-shade: var(--ion-background-color-step-50,
    #F2F2F2);
    --app-background-alt: var(--ion-color-primary);
    --app-background-alt-shade: var(--ion-color-primary-shade);
    --app-narrow-margin: 12px;
    --app-fair-margin: 16px;
    --app-broad-margin: 20px;
    --app-narrow-radius: 3px;
    --app-fair-radius: 4px;
    --app-broad-radius: 6px;
}

// html.ios {
//   --app-header-height: 44px;
// }
// html.md {
//   --app-header-height: 56px;
// }