<ion-item color="primary"  lines="none" detail>
  <ion-label text-wrap>
    User name here
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-label text-wrap>
    Has joined the crowd
  </ion-label>
</ion-item>

  
  <p><strong>Has pledged action on:</strong></p>
  <ion-item  lines="none" detail>
    <ion-label text-wrap>
      How Do We Empower People To Fight Back?
    </ion-label>
  </ion-item>

<ion-item lines="none">
  <ion-label text-wrap>
    <strong>Added a testimonial:</strong>
    In the case of a dynamically loaded component and in order for a ComponentFactory to be generated, the component
    must also be added to the module’s entryComponents
  </ion-label>
</ion-item>

<ion-item lines="none">
  <ion-button (click)="dismiss()">
    <ion-icon slot="start" name="close-circle-outline"></ion-icon>
    Close
  </ion-button>
  <ion-button (click)="dismiss()">
      <ion-icon slot="start" name="list-box"></ion-icon>
      All activity
    </ion-button>
  </ion-item>