<ion-header>
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>

    <ion-card padding>

      <h4>Geolocation API</h4>
      <p>The Geolocation API provides simple methods for getting and tracking the current position of the device
        using GPS, along with altitude, heading, and speed information if available.</p>

      <h6>Example</h6>
      <b>Get your device geolocation info and use it to view on Google Map</b>

      <h6>
        <b>Now you can easily develop location-based apps.</b>
      </h6>

    </ion-card>

    <ion-card>

      <div padding>
        <h4>Your current location</h4>
        <ion-list>
          <ion-row>
            <ion-col>Latitude </ion-col>
            <ion-col>{{latitude}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Longitude </ion-col>
            <ion-col>{{longitude}} </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Accuracy </ion-col>
            <ion-col>{{accuracy}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>Altitude</ion-col>
            <ion-col>{{altitude}}</ion-col>
          </ion-row>
        </ion-list>
      </div>

      <ion-list *ngFor="let add of address">
        <ion-item detail (click)="visitMap(add?.geometry.location.lat,add?.geometry.location.lat)">
          {{add?.formatted_address}}
        </ion-item>
      </ion-list>

    </ion-card>

  </ion-row>


</ion-content>