<ht-header></ht-header>

<ion-content class="login-content">
    <ht-header-desktop></ht-header-desktop>
    <h2>Login</h2>
    <p>Welcome back to HaloTales.</p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-list class="inputs-list" lines="full">
            <ion-item class="input-item">
                <ion-label position="floating">Email Address</ion-label>
                <ion-input type="email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
            </ion-item>
            <div *ngIf="f.email.errors" class="error-container">
                <div class="error-message" *ngIf="f.email.errors.required && f.email.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Email is required.</span>
                </div>
                <div class="error-message" *ngIf="f.email.errors.email && f.email.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Enter a valid email.</span>
                </div>
            </div>

            <ion-item class="input-item">
                <ion-label position="floating">Password</ion-label>
                <app-show-hide-password>
                    <ion-input type="password" formControlName="password"></ion-input>
                </app-show-hide-password>
            </ion-item>
            <div *ngIf="f.password.errors" class="error-container">
                <div class="error-message" *ngIf="f.password.errors.required && f.password.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Password is required.</span>
                </div>
                <div class="error-message" *ngIf="f.password.errors.minlength  && f.password.touched">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>Password must be at least 5 characters long.</span>
                </div>
            </div>
        </ion-list>
        <ion-button class="system-btn" type="submit" expand="block">Log In</ion-button>
        <p text-right>
            <a [routerLink]="['/forgot-password']">Forgot Password?</a>
        </p>
    </form>


    <p class="options-divider">
        Don't have an account? <a [routerLink]="['/register']">Sign up now</a>
    </p>
</ion-content>