<ion-app>
    <ion-split-pane when="min-width: 575px | disabled=true" contentId="main-content">
        <ion-menu id="side-menu" contentId="side-menu-content">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button (click)="close()" color="light">
                            <ion-icon name="close-circle-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </ion-header>
            <ion-content id="side-menu-content">
                <ion-list>
                    <ion-list-header>
                        Menu
                    </ion-list-header>
                    <ion-menu-toggle auto-hide="false">

                        <ion-item (click)="goto('/')" class="main-nav-item" lines="none" button>
                            <ion-label>Home</ion-label>
                        </ion-item>
                        <ion-item (click)="goto('/trailer')" class="main-nav-item" lines="none">
                            Trailer
                        </ion-item>
                        <ion-item (click)="goto('/clips')" class="main-nav-item" lines="none">
                            Clips
                        </ion-item>
                        <ion-item (click)="goto('/about')" class="main-nav-item" lines="none">
                            About
                        </ion-item>
                        <ion-item (click)="goto('/join()')" *ngIf="showJoin" class="main-nav-item" lines="none">
                            Join Us
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
            <ion-footer>
                <ion-toolbar>
                    <ion-title size="small">&copy; {{ copyrightYear }} Grant Street Productions | App by <a href="https://Cool.world">Cool.world</a> | App by <a href="https://TheNewCorporation.movie">TheNewCorporation.movie</a></ion-title>
                </ion-toolbar>
            </ion-footer>
            <!--
            <ion-grid class="nav-social-links">
                <ion-row class="social-link-row">
                    <ion-col>
                        <ion-button fill="clear" (click)="linkToSocialProfile('facebook')">
                            <img src="./assets/images/mobile-facebook.svg">
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" (click)="linkToSocialProfile('twitter')">
                            <img src="./assets/images/mobile-twitter.svg">
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" (click)="linkToSocialProfile('youtube')">
                            <img src="./assets/images/mobile-youtube.svg">
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="clear" (click)="linkToSocialProfile('vimeo')">
                            <img src="./assets/images/mobile-vimeo.svg">
                        </ion-button>
                    </ion-col>
                </ion-row>
        
                <ion-row>
                    <div class="call-to-action">
                        <ion-button class="content-btn" href="https://thecorporation.movie">TheNewCorporation.movie</ion-button>
                    </div>
                </ion-row>
            </ion-grid>
                <div class="bottom-nav-link-grid">
                    <a (click)="showPrivacyModal()">Privacy Policy</a>
        
                    <a (click)="showTermsModal()">Terms of use</a>
        
                    <a (click)="showTermsModal()">Contact Us</a>
                </div>
                -->

        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>

</ion-app>