
  ion-menu {
    --ion-background-color: var(--ion-color-tertiary-contrast);
    --ion-text-color: var(--ion-color-primary-contrast);
    display: flex;
  }
  
  ion-toolbar {
    --background: var(--ion-color-tertiary-contrast);
  }


  .navitem {
    margin: auto;
    text-align: center;
    font-weight: 600;
  }

  .visitUs {
    font-weight: 600;
  }

  .navLink {
    size: 10em;
  }




  // .visitUs {

  // }
//visit = reg
// link = semibold




















// ion-header  { //.scroll-y .overscroll
//     background-color: --ion-color-tertiary-contrast;
//     height: 100vh;
//     width: 100vw;
//     color: navajowhite;
// }

// .darkpurple {
//     background-color: var(--ion-color-tertiary-contrast);
//     background-size: 100vh;
//   }


  
  

//rgba(var("--ion-color-tertiary-rgb"), .5)
    // --ion-background-color: var(--ion-color-tertiary-contrast-rgb);
   // color: rgba(var(--ion-color-tertiary-contrast-rgb), 0.25);
    // color: var(--ion-color-tertiary);
    // color: "tertiary";