<ht-header></ht-header>

<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col class="user-image-wrapper">
          <ion-img src="./assets/sample-images/user/person-1.jpg"></ion-img>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="9">
          <h3 class="user-name">
              profile.displayName
          </h3>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">Testimonial</h3>
    <p class="user-description">
      profile.testimonial
    </p>
  </div>
  <div class="user-friends-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Acount information</h3>
    </ion-row>
    <ion-row class="friends-row">
      <!-- <ion-col class="friend-item" size="2" *ngFor="let story of profile.stories">
          <ion-img class="friend-picture" [src]="story.image"></ion-img>

         <span class="friend-name">
          {{ story.title }}
        </span>
      </ion-col> -->
    </ion-row>
  </div>

</ion-content>
