<ht-header></ht-header>

<ion-content class="user-account-content">
  <h2>Account</h2>
  <p>Customize what you share on Halo Tales.</p>

  <form [formGroup]="userAccountForm" (ngSubmit)="onSubmit()">
    <ion-list class="inputs-list">
      <ion-item class="input-item" (click)="testClick()" detail>
        <ion-label>
          <h3>Picture</h3>
          <p>Choose a photo from your devise and take a new snapshot.</p>
        </ion-label>
        <ion-avatar slot="end" class="hydrated">
          <img src="./assets/sample-images/user/person-1.jpg">
        </ion-avatar>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="left"><h3>Display name</h3></ion-label>
        <ion-input type="text" formControlName="displayName" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <ion-item class="input-item">
        <ion-label>
          <h3>Testimonial</h3>
        </ion-label>
        <ion-label position="floating">Did The Corporation film affect you?</ion-label>
        <ion-textarea formControlName="testimonial" rows="3" (keyup)="resize()"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-button class="expanded-action-btn" type="submit" expand="block" [disabled]="userAccountForm.invalid">Publish Account
    </ion-button>
  </form>


</ion-content>