// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-shade);
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.modal-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
    .modal-title {
        color: var(--ion-color-secondary);
        margin: var(--page-margin) 0px calc(var(--page-margin) / 2);
    }
    .modal-text {
        color: var(--ion-color-medium);
        margin: calc(var(--page-margin) / 2) 0px var(--page-margin);
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }
}

@keyframes ani-first {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-second {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    95% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-final-card {
    0% {
        opacity: 0;
    }
    92.25% {
        opacity: 0;
    }
    96.5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.intro-story {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 4;
    width: 100%;
    height: 21%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 28.5%;
    p {
        position: absolute;
        color: black;
        font-size: 1rem;
        line-height: 1.45;
        font-weight: 650;
        align-self: center;
        margin: 0;
        left: 10vw;
        right: 10vw;
        text-transform: uppercase;
    }
    .text-1 {
        animation-name: ani-first;
        animation-timing-function: ease-in-out;
        animation-duration: 7.5s;
        animation-fill-mode: forwards;
    }
    .text-2 {
        animation-name: ani-second;
        animation-timing-function: ease-in-out;
        animation-duration: 13.5s;
        animation-fill-mode: forwards;
    }
    .text-3 {
        margin-top: 9.5%;
        font-size: 1.4rem;
        font-weight: 650;
        color: black;
        animation-name: ani-final-card;
        animation-timing-function: ease-in-out;
        animation-duration: 14.5s;
        animation-fill-mode: forwards;
    }
}