<ht-header></ht-header>

<ion-content class="user-account-content">
    <ht-header-desktop></ht-header-desktop>

    <h2>Profile</h2>
    <p>Customize what you share on Halo Tales.</p>

    <form [formGroup]="UserProfileForm" (ngSubmit)="onSubmit()">
        <ion-text>
            <h3>Picture</h3>
        </ion-text>
        <ion-item class="input-item" (click)="openUploader()" detail>
            <ion-label text-wrap>
                <p>Choose a photo from your device or take a new snapshot.</p>
            </ion-label>
            <ion-avatar slot="end" class="hydrated">
                <img [src]="user.photoURL" />
            </ion-avatar>
        </ion-item>

        <ion-text>
            <h3>Display Name</h3>
        </ion-text>
        <ion-item class="input-item">
            <ion-input type="text" formControlName="displayName" class="formControl" clearInput autocapitalize="off"></ion-input>
        </ion-item>
        <div *ngIf="form.displayName.errors" class="error-container">
            <div class="error-message" *ngIf="form.displayName.errors.required && form.displayName.touched">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>Display Name is required.</span>
            </div>
        </div>


        <ion-text>
            <h3>Testimonial</h3>
        </ion-text>
        <ion-item class="input-item">
            <ion-label position="floating" text-wrap>Share a short testimonial about how the film impacted you or what you think about the issues.</ion-label>
            <ion-textarea formControlName="testimonial" class="formControl" rows="6"></ion-textarea>
        </ion-item>

        <ion-button class="system-btn" type="submit" expand="block" [disabled]="UserProfileForm.invalid">
            Update Your Public Profile
        </ion-button>
    </form>
</ion-content>