.header-flex-container {
    width: 100%;
    margin: 0;
    .desktop-header {
        position: relative;
        overflow: hidden;
        display: -webkit-flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin: 0;
        height: 20vw;
        width: 100%;
        padding: 2vw 2vw 2vw;
        --background: transparent;
        background-color: #000000 !important;
        .header-start {
            align-items: center;
            min-height: 120px;
            width: 13rem;
            height: auto;
            right: 5vw;
            left: 6vw;
        }
        .header-middle {
            .header-mid-flex {
                max-width: 80%;
                display: -webkit-flex;
                flex-direction: column;
                -webkit-flex-direction: column;
                align-items: left;
                margin: 0;
                padding-left: 3vw;
                .header-divider {
                    border-left: 1px solid white;
                }
                h1 {
                    color: white;
                    font-weight: 300;
                    padding-bottom: 0;
                    padding-left: 2vw;
                    margin-top: 0;
                }
                p {
                    margin: 0;
                    padding-top: 0;
                    padding-bottom: 2vw;
                    padding-left: 2vw;
                    color: white;
                }
                .header-links {
                    display: -webkit-flex;
                    flex-direction: row;
                    -webkit-flex-direction: row;
                    flex-wrap: nowrap;
                    margin-bottom: 0;
                    a {
                        color: var(--ion-color-tertiary-shade);
                        font-size: 1.5vw;
                        text-decoration: none;
                        white-space: nowrap;
                        font-weight: 300;
                        padding-right: 2vw;
                        padding-left: 2vw;
                        padding-top: 2vw;
                    }
                }
            }
        }
        .header-end {
            align-items: center;
            width: 20rem;
            margin-right: 2vw;
            height: auto;
            .social-buttons {
                display: -webkit-flex;
                flex-direction: row;
                -webkit-flex-direction: row;
                align-items: center;
                flex-wrap: nowrap;
                justify-content: space-around;
                margin-top: 3vw;
            }
        }
    }
}