<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        Author Bio
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="modal-content">
    <h3 class="modal-title">{{ tale.authorName}}</h3>
    <img [src]="tale.authorImg" [alt]="tale.authorName" class="author-image" >
    <div [innerHTML]="sanatizeHTML(tale.authorBioFull)"></div>
  </ion-content>
  