<div class="ad hidden-lg">
    <div>
        <h1>THE SEQUEL IS COMING</h1>
    </div>
    <ion-card>
        <p>
            More than a decade after The New Corporation likened the dominant institution of our time to a psychopath, its creators are now working on a follow-up film.
        </p>
        <div>
            <ion-button class="content-btn" href="https://thecorporation.com">Visit TheCorporation.com</ion-button>
        </div>
    </ion-card>
    <ion-col>
        <div class="social-buttons">
            <a (click)="linkToSocialProfile(provider.facebook) ">
                <img src="/assets/images/mobile-facebook.svg ">
            </a>
            <a (click)="linkToSocialProfile(provider.twitter) ">
                <img src="/assets/images/mobile-twitter.svg ">
            </a>
            <a (click)="linkToSocialProfile(provider.youtube) ">
                <img src="/assets/images/mobile-youtube.svg ">
            </a>
            <a (click)="linkToSocialProfile(provider.vimeo) ">
                <img src="/assets/images/mobile-vimeo.svg ">
            </a>
        </div>
    </ion-col>
</div>