.ad {
    color: black;
    text-align: center;
    width: 100%;
    height: auto;
    h1 {
        background-color: rgba(0, 0, 0, 0.47) !important;
        color: white;
        font-weight: 300;
        font-size: 135%;
        margin: 0;
        padding: 8% 0;
    }
    ion-card {
        border-radius: 0;
        --background: var(--ion-color-tertiary-shade);
        margin: 0;
        padding: 0.4rem 1rem 1.5rem;
        p {
            color: black;
            font-size: 125%;
            line-height: 150%;
            font-weight: 400;
            text-align: left;
            padding: 0 4vw;
        }
    }
}