<div class="home-backgroud">
    <div class="home-logo centered">
        <img src="/assets/new/logo-home.png" alt="The New Corporation" />
        <div class="home-content">
            <h1 class="home">The Unfortunately Necessary Sequel<br></h1>
            <h2 class="home">Coming Soon</h2>
            <div class="cta">
                <ion-button expand="block" class="cta-btn" (click)="goto('/stories')">
                    View Stories...
                </ion-button>
            </div>
        </div>
    </div>
</div>