:host {
    --page-margin: var(--app-broad-margin);
}

.home-main-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-splash {
    position: relative;
    ion-card {
        background-color: rgba(255, 255, 255, 0.5);
        position: absolute;
        bottom: 0;
        margin: 0;
        border-radius: 0;
        border: 0;
        width: 100%;
        ion-card-header {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            ion-card-title {
                color: black;
                text-align: center;
                font-style: semi-bold;
                font-weight: 600;
                font-size: 1.2rem;
            }
        }
        ion-card-content {
            padding-top: 0;
            text-align: center;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            p {
                margin-bottom: 1rem;
                font-size: 1rem;
            }
            .user-action-summary {
                background-color: var(--ion-color-light);
                border-radius: var(--app-broad-radius);
                -webkit-box-shadow: 0 0 10px white;
                -moz-box-shadow: 0 0 10px white;
                box-shadow: 0 0 10px white;
                h4 {
                    color: var(--ion-color-purple);
                    font-size: 1rem;
                    font-weight: 600;
                    padding: 1rem 0 0;
                }
                .action-wrapper {
                    display: flex;
                    justify-content: space-around;
                    color: var(--ion-color-purple);
                    padding-bottom: 1rem;
                    ion-item {
                        font-size: 0.8rem;
                        --background: none;
                        --padding-start: 0;
                        --inner-border-width: 0;
                        ion-icon {
                            margin: 0 0.5rem 0 0;
                            font-size: 1.5rem;
                        }
                        ion-label,
                        ion-label a {
                            margin: 0;
                            line-height: 1;
                            color: var(--ion-color-purple);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@keyframes ani-first {
    0% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-second {
    0% {
        opacity: 0;
    }
    55% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    95% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-final-card {
    0% {
        opacity: 0;
    }
    92.25% {
        opacity: 0;
    }
    96.5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.intro-story {
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 4;
    width: 100%;
    height: 21%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 28.5%;
    p {
        position: absolute;
        color: black;
        font-size: 1rem;
        line-height: 1.45;
        font-weight: 650;
        align-self: center;
        margin: 0;
        left: 10vw;
        right: 10vw;
        text-transform: uppercase;
    }
    .text-1 {
        animation-name: ani-first;
        animation-timing-function: ease-in-out;
        animation-duration: 7.5s;
        animation-fill-mode: forwards;
    }
    .text-2 {
        animation-name: ani-second;
        animation-timing-function: ease-in-out;
        animation-duration: 13.5s;
        animation-fill-mode: forwards;
    }
    .text-3 {
        margin-top: 9.5%;
        font-size: 1.4rem;
        font-weight: 650;
        color: black;
        animation-name: ani-final-card;
        animation-timing-function: ease-in-out;
        animation-duration: 14.5s;
        animation-fill-mode: forwards;
    }
}

.crowd-container {
    text-align: center;
    flex-grow: 2;
    height: 38rem;
    width: 100%;
    margin: 0;
    position: relative;
    .peoplesvgs {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
        }
        .ani1 {
            background-image: url("../../../assets/images/mobile-devi-logo.svg");
            background-repeat: no-repeat;
            background-position: center center;
            top: -17%;
            z-index: 1;
            animation-name: ani-first;
            animation-timing-function: ease-in-out;
            animation-duration: 7.5s;
            animation-fill-mode: forwards;
        }
        .ani2 {
            background-image: url("../../../assets/images/group1.svg");
            background-repeat: no-repeat;
            background-position: center center;
            top: -17%;
            z-index: 2;
            animation-name: ani-second;
            animation-timing-function: ease-in-out;
            animation-duration: 13.5s;
            animation-fill-mode: forwards;
        }
        .ani3 {
            background-image: url("../../../assets/images/mobile-header-group.svg");
            background-repeat: no-repeat;
            background-position: center center;
            height: auto;
            top: -17%;
            z-index: 3;
            animation-name: ani-final-card;
            animation-timing-function: ease-in-out;
            animation-duration: 14.5s;
            animation-fill-mode: forwards;
        }
    }
}

.desktop-crowd-container {
    position: relative;
    text-align: center;
    img {
        height: auto;
        width: 100%;
        padding-top: 1%;
    }
}

.mobile-join-us-card {
    z-index: 5;
}

.mobile-stories-section-intro {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #421f35;
    text-align: center;
    h2 {
        margin: 1rem 2rem 0rem;
        color: white;
        font-style: semi-bold;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
    }
    p {
        margin: 1rem 2rem 0.2rem;
        color: #E6C7D7;
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 0.7rem;
        font-weight: 400;
    }
}

.intro-grid {
    margin: 0;
    width: 100% !important;
}

.stories-section-intro-wrapper {
    padding: 2rem;
    width: 100%;
    margin: 0;
    background-color: #421f35;
    p {
        margin: 0rem 2rem 1rem;
        color: #E6C7D7;
        text-align: center;
    }
}

.stories-section-intro {
    margin: 0rem 2rem 0rem;
    text-align: center;
    color: white;
    font-style: semi-bold;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.summary {
    height: 20%;
    padding: 0rem 1rem 0rem;
    p {
        color: black;
        font-size: 1em;
        font-weight: 400;
    }
}

.story-meta {
    padding: 0rem 1rem 0rem;
    .authoring-info {
        font-size: 1rem;
        padding-bottom: 0.25rem;
    }
}

.home-message {
    padding: 1rem;
    text-align: center;
    h1 {
        font-weight: 900;
    }
    p {
        font-weight: 900;
    }
}