.profile {
    border-style: solid !important;
    border-radius:50% !important;
    border-width: 2px !important;
    width: 100px !important;
    margin: auto;
    display: block;
}

.logo {
  border-style: solid !important;
  border-radius:20% !important;
  border-width: 1px !important;
  width: 100px !important;
  margin: auto;
  display: block;
}

.banner {
  width: 100% !important;
  max-width: 500px;
  margin: auto;
  display: block;
}

.top {
  background-color: #69809A; 
}

.fw900 {
  font-weight: 900 !important;
}

.text-accent {
  color: #fc0606 !important;
}

