:host {
  --page-margin: var(--app-broad-margin);
}


.home-splash {
  position: relative;
  // &.logged-in {
  //   background: url(../../../assets/images/mobile-devi-logo.svg) no-repeat top center;
  //   background-position: 0px 10px;
  //   height: 350px;
  // }
  // &.logged-out {
  //   animation-name: fadeIn;
  //   animation-duration: 4s;
  //   background: url(../../../assets/images/mobile-devi-logo.svg) no-repeat top center;
  //   background-position:50% 15px;
  //   height: 75vh;
  // }
  .user-avatars-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    min-height: 210px;
    // top: 0;
    // left: 0;
    img {
      border-radius: 100%;
    }
    .user-avatars {
      position: absolute;
      width: 1024px;
      height: 210px;
      top: 0;
      left: 50%;
      margin-left: -512px;
      /* half of the width */
      .user-avatar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        ion-button {
          --padding-bottom: 0;
          --padding-end: 0;
          --padding-start: 0;
          --padding-top: 0;
          height: 1.6rem;
        }
        .user-avatar {
          width: 55px;
          border: 2px solid var(--ion-color-primary);
        }
        &.avatar1 {
          position: absolute;
          top: 60px;
          left: 170px;
        }
        &.avatar2 {
          position: absolute;
          top: 115px;
          left: 340px;
        }
        &.avatar3 {
          position: absolute;
          top: 65px;
          left: 425px;
        }
        &.avatar4 {
          position: absolute;
          top: 85px;
          left: 585px;
        }
        &.avatar5 {
          position: absolute;
          top: 50px;
          left: 725px;
        }
      }
    }
    .main-user-avatar {
      display: block;
      width: 130px;
      margin: 168px auto 0;
    }
  }
  ion-card {
    background-color: white;
    opacity: 60%;
    position: absolute;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    border: 0;
    width: 100%;
    ion-card-header {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: auto;
      ion-card-title {
        color: black;
        text-align: center;
        font-style: semi-bold;
        font-weight: 600;
        font-size: 1.2rem;
      }
    }
    ion-card-content {
      padding-top: 0;
      text-align: center;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      p {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      ion-button {
        text-transform: uppercase;
        --border-radius: var(--app-fair-radius);
        --background: var(--ion-color-tertiary);
      }
      .user-action-summary {
        background-color: var(--ion-color-light);
        border-radius: var(--app-broad-radius);
        -webkit-box-shadow: 0 0 10px white;
        -moz-box-shadow: 0 0 10px white;
        box-shadow: 0 0 10px white;
        h4 {
          color: var(--ion-color-purple);
          font-size: 1rem;
          font-weight: 600;
          padding: 1rem 0 0;
        }
        .action-wrapper {
          display: flex;
          justify-content: space-around;
          color: var(--ion-color-purple);
          padding-bottom: 1rem;
          ion-item {
            font-size: 0.8rem;
            --background: none;
            --padding-start: 0;
            --inner-border-width: 0;
            ion-icon {
              margin: 0 0.5rem 0 0;
              font-size: 1.5rem;
            }
            ion-label,
            ion-label a {
              margin: 0;
              line-height: 1;
              color: var(--ion-color-purple);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

@keyframes ani1 {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ani2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  90% {
    opacity: 1
  }
  100% {
    opacity: 0;
  }
}

@keyframes ani3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.animationcontainer {
  display: block;
  position: relative;
  height: 80%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.intro-story {
  position: absolute;
  width: 100%;
  height: 23%;
  background-color: white;
  opacity: 0.6;
  top: 25%;
  p {
    position: absolute;
    text-align: center;
    padding: 5vh 5vh;
    margin: 0;
  }
  .text-1 {
    animation-name: ani1;
    animation-timing-function: ease-in-out;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
  }
  .text-2 {
    animation-name: ani2;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  .text-3 {
    animation-name: ani3;
    animation-timing-function: ease-in-out;
    animation-duration: 9.5s;
  }
}

.peoplesvgs {
  .ani1 {
    height: 75%;
    margin-top: 2vh;
    margin-left: 15%;
    margin-right: auto;
    position: absolute;
    animation-name: ani1;
    animation-timing-function: ease-in-out;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
  }
  .ani2 {
    position: absolute;
    animation-name: ani2;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-fill-mode: forwards;
  }
  .ani3 {
    position: absolute;
    animation-name: ani3;
    animation-timing-function: ease-in-out;
    animation-duration: 9.5s;
    animation-fill-mode: forwards;
  }
}



.tales-section-intro-wrapper {
  width: 100vw;
  height: 8rem;
  margin-top: 0;
  background-color:  #421f35;
  p {
    color: #E6C7D7;
    text-align: center;
    margin-bottom: 1em;
  }
}

.tales-section-intro {          
    // position: absolute;
    margin: 0.1rem 2rem 0.1rem;
    text-align: center;  
    color: white;
    font-style: semi-bold;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.tale-wrapper {
  margin-bottom: var(--page-margin);
  .tale-header {
    position: relative;
    h3.tale-title {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      color: white;
      font-size: 1.125rem;
      font-weight: 600;
      padding: 0.75rem 1rem;
      width: 100%;
    }
  }

  .tale-action-summary {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // margin: 0.5rem 0.75rem;
    // margin: 0.5rem 0px 0.75rem;
    border-bottom: 1px solid var(--ion-color-medium);
    // border-radius: var(--app-broad-radius);
    .pledges-col {
      border-right: 1px solid var(--ion-color-medium);
    }
    .pledges,
    .avocadometer {
      padding-left: 0px;
      width: 50%;
      .header {
        color: var(--ion-color-dark);
        font-size: 0.8rem;
        --background: none;
        --padding-start: 0;
        --inner-border-width: 0;
        --min-height: 28px;
        ion-button {
          color: var(--ion-color-dark);
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .content {
        --background: none;
        --padding-start: 0;
        --inner-border-width: 0;
        --min-height: 28px;
        margin-bottom: 0.4rem;
        ion-icon {
          color: var(--ion-color-secondary);
          padding-right: 0.5rem;
        }
        ion-label {
          color: var(--ion-color-dark);
          font-weight: 600;
          margin: 0;
        }
      }
    }
  }
  .summary {
    color: var(--ion-color-medium-dark);
    font-size: 0.9rem;
  }
  .tale-meta {
    .authoring-info {
      font-size: 0.8rem;
      padding-bottom: 0.25rem;
    }
    .tale-in-numbers {
      display: flex;
      font-size: 0.75rem;
      color: var(--ion-color-medium-dark);
      div {
        display: flex;
        align-items: center;
        padding-right: 1.5rem;
        ion-icon {
          padding-right: 5px;
        }
      }
    }
  }
}

.home-message {
  padding: 1rem;
  text-align: center;
  h1 {
    font-weight: 900;
  }
  p {
    font-weight: 900;
  }
}

.ad {
  // background-color: var(--ion-color-dark);
  background: url('../../../assets/old-images/corp-barcode-bg.png') no-repeat;
  background-size: cover;
  padding: 1rem;
  color: var(--ion-color-light);
  text-align: center;
  h1 {
    font-weight: 900;
  }
  p {
    font-weight: 400;
  }
  .call-to-action 
  {
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: underline;
    color: inherit;
  }
}
