<ht-header></ht-header>
<ion-content>
  <div class="animationcontainer" *ngIf="isFirstPageThisSession">
    <div class="peoplesvgs">
      <img src="../../../assets/images/mobile-devi-logo.svg" class="animation1">
      <img src="../../../assets/images/group1.svg" class="animation2">
      <img src="../../../assets/images/group2.svg" class="animation3">
    </div>
  </div>
  <div class="home-splash" [class.logged-in]="currentUser" [class.logged-out]="!currentUser">
    <div class="user-avatars-wrapper" *ngIf="currentUser">

      <div class="main-user-avatar" >
        <a [routerLink]="['/profile', currentUser.id]">
          <img [src]="currentUser.imageUrl" [alt]="currentUser.displayName" />
        </a>
      </div>
    </div>
    <ion-card>

      <ion-card-header>
        <ion-card-title>
          {{"Sequel Coming Soon"}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ng-container *ngIf="currentUser; then contentLoggedIn; else contentLoggedOut"></ng-container>
        <ng-template #contentLoggedIn>
          <div class="user-action-summary">
            <h4>{{ currentUser.displayName }}</h4>
            <div class="action-wrapper">
              <ion-item class="testimonials">
                <ion-icon slot="start" name="quote"></ion-icon>
                <ion-label>
                  <ng-container *ngIf="currentUser.testimonial != ''; then yesTestimonials; else noTestimonial"></ng-container>
                  <ng-template #yesTestimonials>
                    <a [routerLink]="['/profile', currentUser.id]">
                      Testimonial
                      <br />
                      given
                    </a>
                  </ng-template>
                  <ng-template #noTestimonial>
                    <a href="/user/profile">
                      Add
                      <br />
                      testimonial
                    </a>
                  </ng-template>
                </ion-label>
              </ion-item>
              <ion-item class="pledges">
                <ion-icon slot="start" name="trophy"></ion-icon>
                <ion-label>
                  {{ pledgesCount }} Action
                  <br /> pledges
                </ion-label>
              </ion-item>
              <ion-item class="tales">
                <ion-icon slot="start" name="videocam"></ion-icon>
                <ion-label>
                  <ng-container *ngIf="talesCount > 0; then yesTales; else noTales"></ng-container>
                  <ng-template #yesTales>{{ talesCount }} Stories</ng-template>
                  <ng-template #noTales>
                    <a href="">
                      Add
                      <br />
                      story
                    </a>
                  </ng-template>
                </ion-label>
              </ion-item>
            </div>
          </div>
        </ng-template>
        <ng-template #contentLoggedOut>
          <ion-button (click)="signUp()" expand="block" class="content-btn">
            Join us
          </ion-button>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-grid no-padding fixed class="tales-section-intro-grid">
  <div class="tales-section-intro-wrapper">
      <ion-row >
        <ion-col>
    <h2 class="tales-section-intro">Watch Stories.</h2>
  </ion-col>
</ion-row>
<ion-row >
    <ion-col>
    <h2 class="tales-section-intro">Get Inspired.</h2>
  </ion-col>
</ion-row>
<ion-row >
    <ion-col>
    <p>Take action by people who were 
        transformed by the film. 
        Add your own story!</p>
      </ion-col>
      </ion-row>
  </div>
  </ion-grid>

  <div class="tale-wrapper" *ngFor="let tale of tales">
    <a href="tale/{{ tale.slug }}">
      <div class="tale-header">
        <ion-img [src]="tale.image"></ion-img>
        <h3 class="tale-title">{{ tale.title }}</h3>
      </div>
    </a>

    <ion-grid no-padding fixed>
      <div class="tale-action-summary">
        <ion-row align-items-center>
        <ion-col size="6" class="pledges-col">
        <div class="pledges">
              <ion-icon src="../../../assets/images/action-pledges.svg" size="large"></ion-icon>
            <ion-label>{{ tale.pledgeCount }}</ion-label>
          <ion-button class="header" (click)="showHelpActionPledgeModal()">
              Action Pledges
              <ion-icon name="help-circle" slot="end"></ion-icon>
            </ion-button>
        </div>
    </ion-col>

    <ion-col size="6">
        <div class="avocadometer">
              <ion-icon src="../../../assets/images/avocado-meter.svg" size="large"></ion-icon>
              <ion-label>{{ tale.avocados }}</ion-label>
            <ion-button class="header" (click)="showHelpAvocadometerModal()">
              Avocadometer
              <ion-icon name="help-circle" slot="end"></ion-icon>
            </ion-button>
        </div>
    </ion-col>
    </ion-row>
  </div>
  </ion-grid>

    <ion-item class="summary" lines="none">
      <ion-label text-wrap>{{ tale.summary }}</ion-label>
    </ion-item>

    <ion-item class="tale-meta" lines="none">
      <ion-avatar slot="start">
        <img [src]="tale.authorImg" />
      </ion-avatar>
      <ion-label>
        <div class="authoring-info">{{ tale.authorName }} &bull; {{ tale.updatedAt }}</div>
      </ion-label>
    </ion-item>
  </div>

  <div class="ad" *ngIf="isFirstPageThisSession">
      <ion-text>
        <!-- this is the barcode -->
      </ion-text>
    </div>

</ion-content>