:host {
    --page-margin: var(--app-broad-margin);
  }
  
.story-details-content {
  margin-bottom: var(--page-margin);

  h2 {
    text-align: left;
    margin: var(--page-margin);
  }
  h3 {
      font-size: 1.125rem;
      font-weight: 600;
  }
  p {
    text-align: left;
    margin: 0 var(--page-margin) var(--page-margin) var(--page-margin);
  }

  .author-info {
      ion-avatar {
          align-self: flex-start;
          margin-right: 1rem;
      }
      ion-label {
          margin-top: 0;
          margin-bottom: 0;
        h4{
          font-weight: 600;
        }
        p {
            margin: 0
        }
      }
  }
  .story-meta {
    ion-label {
        margin-top: 0;
        .story-in-numbers {
            display: flex;
            justify-content: space-between;
            font-size: 0.9rem;
            color: var(--ion-color-medium-dark);

            div {
            display: flex;
            align-items: center;
            ion-icon {
                padding-right: 5px;
            }
            }
        }
    }

  }
  .story-body-section {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    margin: calc(var(--page-margin) / 2) var(--page-margin);
    p {
      margin: calc(var(--page-margin) / 2) 0;
    }

  }
  .published-date {
    margin: calc(var(--page-margin) * 2) var(--page-margin);
    color: var(--ion-color-medium-dark);
    font-size: 0.8rem;
  }


}


.pledge-bar-wrapper {
    background-color: var(--ion-color-secondary);
    padding-top: 0;
    padding-bottom: 0; 

  .total-pledges {
    display: flex;
    align-items: center;
    
    .total-pledges-icon {
      position: relative;
      padding-right: 6px;
      padding-top: 6px;
        ion-icon {
          color: rgb(255, 204, 85);
        }
      }

    .total-pledges-title {
      font-size: 0.8rem;
      color: var(--ion-color-secondary-contrast);
      padding-left: 0.5rem;
    }
  }
  .action-buttons-col {
    align-self: center;
    .action-buttons {
        justify-content: flex-end;
        .add-your-pledge {
            font-size: 0.9rem;
            font-weight: 600;
            padding: 0 0.5rem;
        }
    }
  }
}