<div class="home-ani-img">
    <a href="/stories" (click)="goto('stories')">
        <div class="home-ani-img-1"></div>
        <div class="home-ani-img-2"></div>
        <div class="home-ani-img-3"></div>
    </a>
</div>

<div class="home-text-wrapper">
    <a href="/stories" (click)="goto('stories')">
        <div class="home-ani-text">
            <p class="home-ani-text-1">In 2003 <em>The Corporation</em> film revealed society’s dominant institution as a psychopath.</p>
            <p class="home-ani-text-2">&nbsp;<br>Millions were inspired</p>
            <p class="home-ani-text-3">&nbsp;<br>Now we're back!</p>
        </div>
    </a>
</div>