@keyframes ani-one {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-two {
    0% {
        opacity: 0;
    }
    31% {
        opacity: 0;
    }
    33% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    61% {
        opacity: 0
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-three {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    63% {
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes ani-four {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    97% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.home-ani-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    div {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: auto;
    }
    .home-ani-img-1 {
        background-image: url("/assets/home/frame-1.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-clip: padding-box;
        z-index: 1;
        animation-name: ani-one;
        animation-timing-function: ease-in-out;
        animation-duration: 16s;
        animation-fill-mode: forwards;
    }
    .home-ani-img-2 {
        background-image: url("/assets/home/frame-2.png");
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
        animation-name: ani-two;
        animation-timing-function: ease-in-out;
        animation-duration: 16s;
        animation-fill-mode: forwards;
    }
    .home-ani-img-3 {
        background-image: url("/assets/home/frame-3.png");
        background-repeat: no-repeat;
        background-position: center center;
        height: auto;
        z-index: 3;
        animation-name: ani-three;
        animation-timing-function: ease-in-out;
        animation-duration: 16s;
        animation-fill-mode: forwards;
    }
}

.home-content {
    z-index: 4;
}

.home-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .home-ani-text {
        background-color: rgba(255, 255, 255, 0.7);
        animation-name: ani-four;
        animation-timing-function: ease-in-out;
        animation-duration: 16s;
        animation-fill-mode: forwards;
        width: 20rem;
        height: 7rem;
        @media (min-width: 575px) {
            width: 27rem;
            height: 9rem;
        }
        p {
            margin: 0;
            padding: 0;
            position: absolute;
            color: black;
            font-size: 1.2rem;
            line-height: 1.5rem;
            @media (min-width: 575px) {
                font-size: 1.5rem;
                line-height: 2rem;
            }
            align-self: center;
            top: 2vh;
            bottom: 2vh;
            left: 2vw;
            right: 2vw;
            text-transform: uppercase;
        }
        .home-ani-text-1 {
            animation-name: ani-one;
            animation-timing-function: ease-in-out;
            animation-duration: 16s;
            animation-fill-mode: forwards;
        }
        .home-ani-text-2 {
            animation-name: ani-two;
            animation-timing-function: ease-in-out;
            animation-duration: 16s;
            animation-fill-mode: forwards;
        }
        .home-ani-text-3 {
            text-align: center;
            font-size: 2rem;
            line-height: 2.5rem;
            @media (min-width: 575px) {
                font-size: 3rem;
                line-height: 3.5rem;
            }
            animation-name: ani-three;
            animation-timing-function: ease-in-out;
            animation-duration: 16s;
            animation-fill-mode: forwards;
        }
    }
}

.home-skip-btn {
    animation-name: ani-four;
    animation-timing-function: ease-in-out;
    animation-duration: 16s;
    animation-fill-mode: forwards;
}