<!--<div class="home-bg-concrete ">
    <div class="home-ani centered">
        <div class="home-ani-wrapper" (click)="skip()">
            <div class="home-ani-img">
                <div class="home-ani-img-1"></div>
                <div class="home-ani-img-2"></div>
                <div class="home-ani-img-3"></div>
            </div>
            <div class="home-ani-text" (click)="skip()">
                <p class="home-ani-text-1">In 2003 The Corporation film revealed society’s dominant institution as a psychopath.</p>
                <p class="home-ani-text-2">Millions were inspired to get up off their couch and do something!</p>
                <h1 class="home-ani-text-3">WATCH STORIES.<br>BE INSPIRED</h1>
            </div>
        </div>
        <ion-button class="home-skip-btn" size="small" (click)="skip()">
            Skip
        </ion-button>
    </div>
</div>-->
<div class="home-ani-img">
    <div class="home-ani-img-1"></div>
    <div class="home-ani-img-2"></div>
    <div class="home-ani-img-3"></div>
</div>

<div class="home-content centered">
    <div class="home-text-wrapper">
        <div class="home-ani-text">
            <p class="home-ani-text-1">In 2003 The Corporation film revealed society’s dominant institution as a psychopath.</p>
            <p class="home-ani-text-2">Millions were inspired to get up off their couch and do something!</p>
            <p class="home-ani-text-3">WATCH STORIES.<br>BE INSPIRED</p>
        </div>
    </div>
</div>