.ad {
    // background-color: var(--ion-color-dark);
    background: url(/assets/images/corp-barcode-bg.png) no-repeat;
    background-size: cover;
    padding: 1rem;
    color: var(--ion-color-light);
    h1 {
      font-weight: 900;
    }
    .call-to-action {
      display: flex;
      justify-content: space-between;
    }
  }
  