  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label class="tab-title">Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label class="tab-title">Settings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="pledges">
      <ion-icon name="trophy"></ion-icon>
      <ion-label class="tab-title">Pledges</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="stories">
        <ion-icon name="videocam"></ion-icon>
        <ion-label class="tab-title">Stories</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
