                @import '~@ionic/angular/css/core.css';
                @import '~@ionic/angular/css/normalize.css';
                @import '~@ionic/angular/css/structure.css';
                @import '~@ionic/angular/css/typography.css';
                @import '~@ionic/angular/css/padding.css';
                @import '~@ionic/angular/css/float-elements.css';
                @import '~@ionic/angular/css/text-alignment.css';
                @import '~@ionic/angular/css/text-transformation.css';
                @import '~@ionic/angular/css/flex-utils.css';
                // EXTRA GLOBAL STYLES
                // Add custom Ionic Colors
                @import "./theme/custom-ion-colors.scss";
                // Add base app styles
                @import "./theme/shell-defaults.scss";
                @font-face {
                    font-family: 'Geomanist-Black';
                    src: url('/assets/geomanist/hinted-Geomanist-Black.eot');
                    src: url('/assets/geomanist/hinted-Geomanist-Black.eot?#iefix') format('embedded-opentype'), url('/assets/geomanist/hinted-Geomanist-Black.woff2') format('woff2'), url('/assets/geomanist/hinted-Geomanist-Black.woff') format('woff'), url('/assets/geomanist/hinted-Geomanist-Light.ttf') format('truetype'), url('/assets/geomanist/hinted-Geomanist-Black.svg#Geomanist-Black') format('svg');
                    font-weight: 300;
                    font-style: normal;
                }
                
                @font-face {
                    font-family: 'Geomanist-Light';
                    src: url('/assets/geomanist/hinted-Geomanist-Light.eot');
                    src: url('/assets/geomanist/hinted-Geomanist-Light.eot?#iefix') format('embedded-opentype'), url('/assets/geomanist/hinted-Geomanist-Light.woff2') format('woff2'), url('/assets/geomanist/hinted-Geomanist-Light.woff') format('woff'), url('/assets/geomanist/hinted-Geomanist-Light.ttf') format('truetype'), url('/assets/geomanist/hinted-Geomanist-Light.svg#Geomanist-Light') format('svg');
                    font-weight: 300;
                    font-style: normal;
                }
                
                 :root {
                    * {
                        font-family: 'Geomanist-Light';
                        font-weight: 300;
                        font-style: normal;
                    }
                    body {
                        width: 100%;
                        margin: auto;
                        position: relative;
                        background-color: white;
                    }
                    ion-content {
                        --ion-background-color: white;
                    }
                    .centered {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .border-green {
                        border: 2px solid green;
                    }
                    .border-red {
                        border: 2px solid red;
                    }
                    .border-blue {
                        border: 2px solid blue;
                    }
                    .responsive {
                        width: 100%;
                        height: auto;
                    }
                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-family: 'Geomanist-Light';
                        font-weight: 900;
                        font-style: normal;
                    }
                    h1 {
                        color: var(--ion-color-primary);
                        font-size: 2.2rem;
                        @media (min-width: 575px) {
                            font-size: 3rem;
                        }
                    }
                    h2 {
                        color: var(--ion-color-secondary);
                        font-size: 1.8rem;
                        @media (min-width: 575px) {
                            font-size: 2.3rem;
                        }
                    }
                    p {
                        color: black;
                        line-height: 1.5rem;
                        font-size: 1rem;
                        @media (min-width: 575px) {
                            font-size: 1.2rem;
                            line-height: 1.7rem;
                        }
                    }
                    hr {
                        border-top: 1px solid #cccccc;
                    }
                    .text-muted {
                        color: var(--ion-color-medium);
                        margin: calc(var(--page-margin) / 2) 0px;
                    }
                    ion-button {
                        color: white;
                        --background: #D01D27;
                        font-style: normal;
                        font-weight: 900;
                        &.content-btn {
                            font-style: bold;
                            font-weight: 900;
                        }
                        &.link {
                            color: black;
                            font-size: 1rem;
                            --background: none;
                            font-style: bold;
                            font-weight: 900;
                            text-transform: uppercase;
                        }
                        &.header-btn {
                            text-transform: uppercase;
                        }
                        &.home-cta-btn {
                            text-transform: uppercase;
                        }
                    }
                    .swiper-container-horizontal>.swiper-pagination-bullets {
                        bottom: 50px !important;
                    }
                }