<ht-header></ht-header>

<ion-content>
    <!-- <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-image" animation="spinner" [src]="profile.userImage"></app-image-shell>
      </app-aspect-ratio> -->

    <ion-img src="https://placeimg.com/640/480/any" ></ion-img>
    <h3>How do we empower People to fight</h3>
    
    <ion-img src="https://placeimg.com/640/480/animals"></ion-img>
    <h3>The corporation 2 is Coming</h3>

  <!-- Join the Crowed div will be hidden if user logged in-->
  <ion-card>
    <ion-card-header>
      <ion-card-title text-uppercase text-center>Be part of the crowd</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="!currentUser">
      <p text-center>
        Join supporters of The Corporation films to take a stand against
        corporate power.
      </p>
      <ion-button (click)="signUp()" expand="block" text-capitalize>
        Join the crowed
      </ion-button>
      <p text-center>or <a href="login">Login</a></p>
    </ion-card-content>

    <ion-card-content *ngIf="currentUser">
        <p text-center>
          Welcome back {{currentUser.displayName}}!
        </p>
      </ion-card-content>
    </ion-card>

  <!-- <ion-fab id="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="share()">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


</ion-content>
