:host {
  --page-margin: var(--app-broad-margin);
}

.story-wrapper {
  margin-bottom: var(--page-margin);

  .story-header {
    min-height: 200px;
    position: relative;

    ion-grid.story-title {
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      bottom: 0px;
      margin-bottom: 3px;

      h3 {
        margin: 0;
        color: white;
        font-size: 1.125rem;
        font-weight: 600;
      }
      .pledge-count {
        text-align: right;
        ion-icon {
          color: rgb(255, 204, 85);
        }
      }
    }
  }
  .story-meta {
    .authoring-info {
      font-size: 0.8rem;
      padding-bottom: 0.25rem;
    }
    .story-in-numbers {
      display: flex;
      font-size: 0.75rem;
      color: var(--ion-color-medium-dark);

      div {
        display: flex;
        align-items: center;
        padding-right: 1.5rem;
        ion-icon {
          padding-right: 5px;
        }
      }
    }
  }
  .summary {
    color: var(--ion-color-medium-dark);
    font-size: 0.9rem;
  }
}


