:host {
  --page-margin: var(--app-broad-margin);
}

.home-splash {
  // width: 1024px;
  height: 568px;
  position: relative;
  &.logged-in {
    background: url(/assets/images/home-logged-in.jpg) no-repeat top center;

  }
  &.logged-out {
    background: url(/assets/images/home-logged-out.jpg) no-repeat top center;

  }

  .user-avatars-wrapper {
    position: relative;
    width: 100%;
    overflow:hidden;
    z-index:1;
    // top: 0;
    // left: 0;
    

    img {
      border-radius: 100%;
    }

    .user-avatars {
      position: absolute;
      width: 1024px;
      height: 210px;
      top: 0;
      left: 50%;
      margin-left:-512px; /* half of the width */

      .user-avatar-wrapper {
        width: 48px;
        height: 48px;
        ion-button {
          --padding-bottom: 0;
          --padding-end: 0;
          --padding-start: 0;
          --padding-top: 0;
          height: 1.6rem;
        }

        .user-avatar {
          width: 44px;
          border: 2px solid var(--ion-color-primary);
        }

        &.avatar1 {
          position: absolute;
          top: 80px;
          left: 200px;
        }
        &.avatar2 {
          position: absolute;
          top: 145px;
          left: 340px;
        }
        &.avatar3 {
          position: absolute;
          top: 95px;
          left: 410px;
        }
        &.avatar4 {
          position: absolute;
          top: 125px;
          left: 630px;
        }
        &.avatar5 {
          position: absolute;
          top: 80px;
          left: 750px;
        }
      }
    }
    .main-user-avatar {
      display: block;
      width: 160px;
      margin: 125px auto 0;
    }
  }

  ion-card {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    margin: 0;
    border-radius: 0;
    color: white;
    width: 100%;
    border-bottom: 4px solid var(--ion-color-secondary);

    ion-card-header {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      ion-card-title {
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-family: var(--ion-header-font-family, inherit);
        font-size: 1.5rem;
        font-weight: 900;
      }
    }
    ion-card-content {
      padding-top: 0;
      text-align: center;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      p {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      ion-button {
        text-transform: uppercase;
        --border-radius: var(--app-fair-radius);
      }

      .user-action-summary {
        background-color: var(--ion-color-light);
        border-radius: var(--app-broad-radius);
        -webkit-box-shadow:0 0 10px white; 
        -moz-box-shadow: 0 0 10px white; 
        box-shadow:0 0 10px white;
        h4 {
          color: var(--ion-color-purple);
          font-size: 1rem;
          font-weight: 600;
          padding: 1rem 0 0;
        }
        .action-wrapper {
          display: flex;
          justify-content: space-around;
          color: var(--ion-color-purple);
          padding-bottom: 1rem;

          ion-item {
            font-size: 0.8rem;
            --background: none;
            --padding-start: 0;
            --inner-border-width: 0;
            ion-icon {
              margin:0 0.5rem 0 0;
              font-size: 1.5rem;
            }
            ion-label, ion-label a {
              margin: 0;
              line-height: 1;
              color: var(--ion-color-purple);
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.stories-section-intro {
  margin:2rem 1rem 1rem;
  p {
    text-align: center;
  }
}

.story-wrapper {
  margin-bottom: var(--page-margin);

  .story-header {
    position: relative;

    h3.story-title {
      background-color: rgba(0,0,0,0.5);
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      color: white;
      font-size: 1.125rem;
      font-weight: 600;
      padding: 0.75rem 1rem;
      width: 100%;
    }
  }

  .story-action-summary {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0.75rem;
    border: 1px solid var(--ion-color-medium);
    border-radius: var(--app-broad-radius);
    
    .pledges, .avocadometer {
      padding-left: 1rem;
      width: 50%;
  
      .header {
        color: var(--ion-color-dark);
        font-size: 0.8rem;
        --background: none;
        --padding-start: 0;
        --inner-border-width: 0;
        --min-height: 28px;
        

        ion-button {
          color: var(--ion-color-dark);
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      .content {
        --background: none;
        --padding-start: 0;
        --inner-border-width: 0;
        --min-height: 28px;
        margin-bottom: 0.4rem;
        
        ion-icon {
          color: var(--ion-color-secondary);
          padding-right: 0.5rem;
        }
        ion-label {
          color: var(--ion-color-dark);
          font-weight: 600;
          margin: 0;
        }
      }
    }
  }

  .summary {
    color: var(--ion-color-medium-dark);
    font-size: 0.9rem;
  }

  .story-meta {
    .authoring-info {
      font-size: 0.8rem;
      padding-bottom: 0.25rem;
    }
    .story-in-numbers {
      display: flex;
      font-size: 0.75rem;
      color: var(--ion-color-medium-dark);

      div {
        display: flex;
        align-items: center;
        padding-right: 1.5rem;
        ion-icon {
          padding-right: 5px;
        }
      }
    }
  }
}


