<ion-toolbar>
    <ion-buttons slot="start">
        <ion-button fill="clear" size="small" color="medium" (click)="closeModal()">
            <ion-icon mode="md" src="assets/icons/x.svg"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content scrollX="false" scrollY="false">
    <div class="content-wrapper">
        <div class="header no-border has-toolbar">
            <div class="title">
                Edit Profile
            </div>
        </div>

        <div class="wrapper">
            <div class="content-scroll" *ngIf="user">
                <!-- profile image -->
                <div class="profile-image" [image-loader]="user.photoUrl">
                    <ion-icon size="large" color="light" prefix src="assets/icons/camera.svg" (click)="changePhoto()"></ion-icon>
                </div>
                <div class="profile-detail">
                    <!-- display name -->
                    <div class="form-label">Display Name</div>
                    <form-field fill="true" color="medium">
                        <ion-icon prefix src="assets/icons/user.svg"></ion-icon>
                        <ion-input inputRef required [(ngModel)]="user.displayName"></ion-input>
                    </form-field>

                    <!-- email -->
                    <div class="form-label">Email</div>
                    <form-field fill="true" color="medium">
                        <ion-icon prefix src="assets/icons/mail.svg"></ion-icon>
                        <ion-input inputRef email required [(ngModel)]="user.email"></ion-input>
                    </form-field>

                    <!-- status message -->
                    <div class="form-label">Status Message</div>
                    <form-field fill="true" color="medium" class="textarea">
                        <ion-icon prefix src="assets/icons/copy.svg"></ion-icon>
                        <textarea inputRef autosize maxRows="3" placeholder="Status Message" [(ngModel)]="user.statusMessage"></textarea>
                    </form-field>




                    <ion-button expand="full" (click)="save()">Update</ion-button>
                </div>
            </div>
        </div>
</ion-content>
<app-spinner *ngIf="loading"></app-spinner>

<!-- required for browser file upload -->
<input hidden #fileInputButton type="file" (change)="detectFiles($event)" multiple="false" />