<ht-header></ht-header>

<ion-content class="verification-content">
  <h2>Verify Account</h2>

  <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()">
    <ion-list class="inputs-list" lines="full">
      <ion-item class="input-item">
        <ion-label position="floating">Verification Code (For testing use 1234)</ion-label>
        <ion-input type="text" formControlName="verificationCode" maxlength="4" clearInput autocapitalize="off"></ion-input>
      </ion-item>
      <div *ngIf="f.verificationCode.errors" class="error-container">
        <div class="error-message" *ngIf="f.verificationCode.errors.required && f.verificationCode.touched">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>Verification Code is required</span>
        </div>
        <div class="error-message"
          *ngIf="(f.verificationCode.errors.pattern || f.verificationCode.errors.minlength) && f.verificationCode.touched">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>Verification Code must be 4 digits</span>
        </div>
      </div>
    </ion-list>
    <ion-button class="system-btn" type="submit" expand="block" [disabled]="verifyForm.invalid">Verify
    </ion-button>
  </form>


  <p class="options-divider">
    Continue browsing the app and <a [routerLink]="['/']">Verify Account Later</a>
  </p>
</ion-content>